@media (min-width:630px) {
  .leaflet-control-layers-toggle {
    display: none;
  }

  .leaflet-control-layers .leaflet-control-layers-list {
    display: block;
  }

  .leaflet-control-layers-base {
    display: flex;
    justify-content: space-around;

  }

  .leaflet-control-container .leaflet-top.leaflet-right {
    width: 100%;
  }

  .leaflet-control-container .leaflet-top.leaflet-left {
    margin-top: 34px;
  }

  .leaflet-control-layers.leaflet-control {
    width: 100%;
    margin: 0;
    border-radius: 0;
    border-width: 0 0 2px;
    padding: 6px;
  }
}
